<div class="container-fluid">
  <div class="row mx-auto mt-5">
    <div class="col-2" style="text-align: left;">
    <p class="mi">おきにいり写真</p>
    <%= link_to '編集', photos_path, class: "btn-stitch" %>
    </div>
  </div>
</div>