<div class='container px-lg-5 px-sm-0'>
   <div class='row'>
    <div class='col-lg-10 mx-auto col-sm-12'>
      <p class="mi">予定一覧</p>
        <p class="kase"><%= group.name %></p>
        <table class='table'>
          <thead>
            <tr>
              <th>日にち</th>
              <th></th>
              <th>予定名</th>
            </tr>
          </thead>
          <tbody>
            <% @events.each do |event| %>
            <tr>
              <td>日付</td>
              <td><%= event.name %></td>
           <% end %>
            </tr>
          </tbody>
        </table> 
    </div>
  </div>
</div>