<!--グル検索-->

<div>
    <%= form_tag(posts_search_path , method: :get) do %>
        <%= select(@search_content, :search_method, ["完全一致","perfect_match"])%>
        <%= text_field(@search_content, :search_word)%>
        <%= submit_tag "検索" %>
    <% end %>
</div>