<div class='container'>
  <div class='row'>
    <div class="col-sm-11 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <p class="mi">グループ編集</p>
        <%= render 'form', group: @group, button_name: '更新' %>
    </div>
  </div>
</div>