<div class='container text-center'>
  <div class='jidori'>
    <div class='row'>
      <div class="col-sm-11 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <% if flash[:alert] %>
          <div class="alert alert-danger">
            <%= flash[:alert] %>
          </div>
        <% end %>
        <p class="mi">グループ作成</p>
        <h6>世界に一つだけの</h6>
        <h6>グループ名を考えましょう！</h6>
          <%= render 'form', group: @group, button_name: 'グループ作成'  %>
          </div>
        </div>
     </div>
    </div>
  </div>
</div>