<div class='container'>
  <div class='jidori'>
    <div class='row'>
      <div class="col-sm-11 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <p class="mi">グループ作成</p>
          <%= render 'form', group: @group, button_name: 'グループ作成'  %>
          </div>
        </div>
     </div>
    </div>
  </div>
</div>