<!--カレンダーのページ-->
<div class="calendar-container">
<p class="mi">カレンダー</p>
  <%= month_calendar do |date| %>
    <%= date.day %>
  <% end %>
  <div class="left">
    <a href="<%= edit_events_path(events)%>" class="btn-stitch">＋</a>
  </div>
</div>
<!--%= calendar_for @events %>-->