<!--カレンダーのページ-->
<div class="calendar-container">
  <p class="mi">カレンダー
  <% if current_user %>
    <%= link_to new_event_path, class:"btn-stitch ml-5 " do %>
      <i class="fa-solid fa-calendar-plus"></i>
    <% end %>
  <% end %>
  </p>
    <%= month_calendar do |date| %>
      <%= date.day %>
        <% @events.each do |event| %>
          <% if user_signed_in? && event.event_date == date && current_user.groups.pluck(:id).include?(event.group_id) %>
           <%= link_to  event.title, event_path(event) %>
          <% end %>
        <% end %>
    <% end %>
</div>
<!-- 新しいイベントを作成するリンク -->