<!--カレンダーのページ-->
<div class="calendar-container">
  <p class="mi">カレンダー</p>
    <%= month_calendar do |date| %>
      <%= date.day %>
        <% @events.each do |event| %>
          <% if event.event_date_date == date %>
            <%= event.title %>
          <% end %>
        <% end %>
    <% end %>
    <div class="left">
      <% if event.event_date == date %>
      <% end %>
    </div>
</div>
