<!--カレンダーのページ-->
<div class="calendar-container">
  <p class="mi">カレンダー
    <%= link_to new_event_path, class:"btn-stitch ml-5 " do %>
      <i class="fa-solid fa-calendar-plus"></i>
    <% end %>
  </p>
    <%= month_calendar do |date| %>
      <%= date.day %>
        <% @events.each do |event| %>
          <% if event.event_date == date %>
           <%= link_to  event.title, event_path(event) %>
          <% end %>
        <% end %>
    <% end %>
</div>
<!-- 新しいイベントを作成するリンク -->