<!--カレンダーのページ-->
<div class="calendar-container">
  <p class="mi">カレンダー</p>
    <%= month_calendar do |date| %>
      <%= date.day %>
        <% @events.each do |event| %>
          <% if event.event_date == date %>
           <%= link_to  event.title, event_path(event) %>
          <% end %>
        <% end %>
    <% end %>
</div>
<a href="<%= new_event_path %>" class="btn-stitch">＋</a> <!-- 新しいイベントを作成するリンク -->