<div class='container px-lg-5 px-sm-0'>
   <div class='row'>
    <div class='col-lg-10 mx-auto col-sm-12'>
      <p class="mi"><%= event.name %></p>
      <nav>
        <p class="kase">日付</p>
        <!--日付。name-->
        <p class="kase"><%= group.name %></p>
       </nav>
        <table class='table'>
          <thead>
            <tr>
              <th　style="width: 20%">開始時間</th>
              <th　style="width: 20%">終了時間</th>
              <th　style="width: 10%"></th>
              <th　style="width: 50%">予定名</th>
            </tr>
          </thead>
          <tbody>
            <% @events.each do |event| %>
            <tr>
             <!--statttime-->
             <!--enndo-->
              <td></td>
              <td></td>
              <td> <%= event.name %></td>
            <% end %>
            </tr>
        </tbody>
      </table> 
      <a href="<%= photo_path %>" class="btn-stitch">アルバム</a>
    </div>
  </div>
</div>
