<div class='container px-lg-5 px-sm-0'>
   <div class='row'>
    <div class='col-lg-10 mx-auto col-sm-12'>
      <p class="mi">すべての思い出</p>
      <% @photos.each do |photo| %>
        <%= image_tag photo.image %>
          <%= link_to "写真を編集", edit_event_photo_path(photo.event, photo) %>
      <% end %>
    </div>
  </div>
</div>