<div class='container px-lg-5 px-sm-0'>
   <div class='row'>
    <div class='col-lg-10 mx-auto col-sm-12'>
      <nav>
      <p class="mi"><%= link_to  event.title, event_path(event) %></p>
      </nav>
      <nav>
      <p class="kase"><%= @event.event_date %></p>
      <p class="kase"><%= @group.name %></p>
      </nav>
      <% @photos.each do |photo| %>
        <%= image_tag photo.image.url(:medium) %>
      <% end %>
      
      <%#= link_to "＋", 写真new, class: "btn-stitch" %>
    </div>
  </div>
</div>