<div class="container text-center">
  <div class="about">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto mt-3">
        <h5>一緒に遊びに行く友達と</h5>
        <h5>予定とアルバムを</h5>
        <h5>共有できるアプリです。</h5>
        <h6>アベルくんとラビィくんみたいに</h6>
        <h6>最高の思い出を作って</h6>
        <h6>お友達とシェアしましょう！</h6>
          <%= image_tag  "about.jpg",size:"190x320", class:"center"  %>
      </div>
    </div>
  </div>
</div>
