<div class="container mt-4">
  <div class="top">       
    <div class="row">
      <div class="col-md-10 mx-auto text-center ">
      <p class="mi">ある日の１ページ</p>
      <p class="kase">管理者ページ</p>
        <div class="row">
          <div class="col-md-10 mx-auto mt-3">
            <%= link_to "登録ユーザー一覧", admin_users_path, class:"btn-stitch"%> 
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 mx-auto mt-3">
            <%= link_to "登録グループ一覧", admin_groups_path, class:"btn-stitch"%> 
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 mx-auto mt-3 ">
            <%= link_to "投稿写真一覧", admin_photos_path, class:"btn-stitch"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>