/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
+ *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 /*フォント*/
  div{
    font-family: 'Yomogi', cursive;
  }
  /*アイコン丸*/
  .rounded-icon {
  border-radius: 50%;
}

/* pcサイズの場合のみ表示 */
@media only screen and (max-width: 768px) {
  .pc{
    display: none !important;
  }
}

/* sumahoサイズの場合のみ表示 */
@media only screen and (min-width: 769px) {
  .su {
    display: none !important; 
  }
}

/*ヘッダー*/
header {
  background-color: #dc8ba7; /* 背景色 */
  color: #fff; /* テキストの色 */
  padding: 10px; /* 内側の余白 */
}
/*フッター*/
footer {
  background-color: #dc8ba7; /* 背景色 */
  color: #fff; /* テキストの色 */
  padding: 10px; /* 内側の余白 */
  margin-top: 20px; /* 上部の余白 */
}

nav ul {
  display: flex; /* 横並びにする */
  list-style: none; /* マーカーを削除 */
  padding: 0;
}

/*普通のボタン*/
.btn-stitch {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px #668ad8;
  border: dashed 1px #FFF;
  overflow: hidden;
}

.btn-stitch:hover {
  border: dotted 1px #FFF;
}
/*丸いボタン*/
.btn-circle-stitch {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 5px #668ad8;
  border: dashed 1px #FFF;
  overflow: hidden;
}