/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * require simple_calendar
 *= require_tree .
 *= require_self
 */
 /*フォント*/
  div{
    font-family: 'Yomogi', cursive;
  }
  /*アイコン丸*/
  .rounded-icon {
  border-radius: 50%;
}

// 背景色css
body {
  background-color: #fef4f4;
  position: relative;
  min-height: 100vh;
}

/* pcサイズの場合のみ表示 */
@media only screen and (max-width: 768px) {
  .pc{
    display: none !important;
  }
}

/* sumahoサイズの場合のみ表示 */
@media only screen and (min-width: 769px) {
  .su {
    display: none !important; 
  }
}
 /*位置*/
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}


/*ヘッダー*/
header {
  background-color: #dc8ba7; /* 背景色 */
  color: #fff; /* テキストの色 */
  padding: 10px; /* 内側の余白 */
}

/*フッター*/
footer {
  position: sticky;
  top: 100vh;
  background-color: #dc8ba7; /* 背景色 */
  color: #fff; /* テキストの色 */
  margin-top: 20px; /* 上部の余白 */
}

ul {
  display: flex; /* 横並びにする */
  list-style: none; /* マーカーを削除 */
  padding: 0;
  margin: 0!important;
}
nav {
  display: flex !important; /* 横並びにする */
  justify-content:space-around;
}
li{
  display: flex; /* 横並びにする */
  justify-content:space-between;
}

/*真ん中揃え*/
.center {
  display:block;
  margin: 0 auto;
}
.left {
  display: flex;
  justify-content: flex-end;/*右寄せで配置*/
  margin-right: 50px;
}

/*普通のボタン*/
.btn-stitch {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none!important;
  background: #668ad8;
  color: #FFF;
  border-radius: 6px;
  box-shadow: 0px 0px 0px 5px #668ad8;
  border: dashed 1px #FFF;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.btn-stitch:hover {
  border: dotted 1px #FFF;
}
/*丸いボタン*/
.btn-circle-stitch {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 5px #668ad8;
  border: dashed 1px #FFF;
  overflow: hidden;
}

.bo1 {
  margin-left: 30px;
}
// 吹き出し
.mi {
font-size: 1.1em;/* フォントサイズ */
font-weight: bold;/* フォント太さ */
padding: 0.5em 0.5em;
margin-bottom: 0.5em;
margin-top: 0.5em;
position: relative;
background-color: #f0d8e8;/* 背景色 */
box-shadow: 0px 0px 0px 5px #f0d8e8;
border: dashed 2px #ffffff;/* 破線 */
color:#000000;/* フォント色 */
text-align: center; /* 水平方向の中央揃え */
display: flex;
justify-content: center; /* 要素内の内容を中央に配置 */
align-items: center; /* 要素内の内容を垂直方向に中央に配置 */
}
// 下線
.kase {
  border-bottom: 3px dashed #c5a3cd;
}

.b-image {
  background-position: center;
}