/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * require simple_calendar
 *= require_tree .
 *= require_self
 */
 /*フォント*/
  div{
    font-family: 'Yomogi', cursive;
  }
  /*アイコン丸*/
  .rounded-icon {
  border-radius: 50%;
}

// 背景色css
body {
  background-color: #fef4f4;
  position: relative;
  min-height: 100vh;
}

/* pcサイズの場合のみ表示 */
@media only screen and (max-width: 768px) {
  .pc{
    display: none !important;
  }
}

/* sumahoサイズの場合のみ表示 */
@media only screen and (min-width: 769px) {
  .su {
    display: none !important; 
  }
}
 /*位置*/
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}


/*ヘッダー*/
header {
  background-color: #dc8ba7; /* 背景色 */
  color: #fff; /* テキストの色 */
  padding: 10px; /* 内側の余白 */
}

/*フッター*/
footer {
  position: sticky;
  top: 100vh;
  background-color: #dc8ba7; /* 背景色 */
  color: #fff; /* テキストの色 */
  margin-top: 20px; /* 上部の余白 */
}

ul {
  display: flex; /* 横並びにする */
  list-style: none; /* マーカーを削除 */
  padding: 0;
  margin: 0!important;
}

li{
  display: flex; /* 横並びにする */
  justify-content:space-between;
}

/*真ん中揃え*/
.center {
  display:block;
  margin: 0 auto;
}
.left {
  display: flex;
  justify-content: flex-end;/*右寄せで配置*/
  margin-right: 50px;
}

/*普通のボタン*/
.btn-stitch {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none!important;
  background: #668ad8;
  color: #FFF;
  border-radius: 6px;
  box-shadow: 0px 0px 0px 5px #668ad8;
  border: dashed 1px #FFF;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.btn-stitch:hover {
  border: dotted 1px #FFF;
}
/*丸いボタン*/
.btn-circle-stitch {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 5px #668ad8;
  border: dashed 1px #FFF;
  overflow: hidden;
}

.bo1 {
  margin-left: 30px;
}
// 吹き出し
.mi {
font-size: 1.1em;/* フォントサイズ */
font-weight: bold;/* フォント太さ */
padding: 0.4em 0.4em;
margin-bottom: 0.5em;
margin-top: 0.5em;
position: relative;
background-color: #f0d8e8;/* 背景色 */
box-shadow: 0px 0px 0px 5px #f0d8e8;
border: dashed 2px #ffffff;/* 破線 */
color:#000000;/* フォント色 */
text-align: center; /* 水平方向の中央揃え */
display: flex;
justify-content: center; /* 要素内の内容を中央に配置 */
align-items: center; /* 要素内の内容を垂直方向に中央に配置 */
}
// 下線
.kase {
  border-bottom: 3px dashed #c5a3cd;
}

.top {
    background-image: url('kesiki.png');
    height: 470px;
    background-color: rgba(#fff, 0.3);
    background-blend-mode: overlay;
}

.about {
    background-image: url('about.png');
    height: 470px;
    background-color: rgba(#fff, 0.3);
    background-blend-mode: overlay;
}

.aru1 {
    background-image: url('aru1.png');
    height: 470px;
    background-color: rgba(#fff, 0.3);
    background-blend-mode: overlay;
}

.aru2 {
    background-image: url('aru2.png');
    height: 430px;
    background-color: rgba(#fff, 0.3);
    background-blend-mode: overlay;
}

.issyo {
    background-image: url('issyo.png');
    height: 470px;
    background-color: rgba(#fff, 0.3);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

.guru {
    background-image: url('issyo.png');
    height: 470px;
    background-color: rgba(#fff, 0.3);
    background-blend-mode: overlay;
    background-position: center;
}

.paso {
    background-image: url('paso.png');
    height: 470px;
    background-color: rgba(#fff, 0.3);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: bottom 50px right 100px;
}

.abel {
    background-image: url('abel.png');
    height: 470px;
    background-color: rgba(#fff, 0.3);
    background-blend-mode: overlay;
    background-position: 25% 75%;
    background-repeat: no-repeat;
}

.raby {
    background-image: url('raby.png');
    height: 470px;
    background-color: rgba(#fff, 0.3);
    background-blend-mode: overlay;
    background-position: bottom 50px right 100px;
    background-repeat: no-repeat;
}

.aberab {
    background-image: url('aberab.png');
    height: 470px;
    background-color: rgba(#fff, 0.3);
    background-blend-mode: overlay;
}

.jidori {
    background-image: url('jidori.png');
    height: 470px;
    background-color: rgba(#fff, 0.3);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: bottom 50px right 100px;
}

.otete {
    background-image: url('otete.png');
    height: 470px;
    background-color: rgba(#fff, 0.3);
    background-blend-mode: overlay;
}

.kesiki {
    background-image: url('kesiki.png');
    height: 470px;
    background-color: rgba(#fff, 0.3);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: bottom 50px right 100px;
}

.abela {
    background-image: url('abela.png');
    height: 150px;
    background-color: rgba(#fff, 0.3);
    background-blend-mode: overlay;
    background-position: 65% 55%;
    background-repeat: no-repeat;
}
.rabya {
    background-image: url('rabya.png');
    height: 150px;
    background-color: rgba(#fff, 0.3);
    background-blend-mode: overlay;
    background-position: 65% 55%;
    background-repeat: no-repeat;
}

// pe-jine-syonn
.paginate{ 
  text-align: center; }
.pagination{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    position: relative;
}
.pagination li a.page-link{
    line-height: 41px;
    height: 42px;
    width: 42px;
    padding: 0;
    margin: 0 5px;
    border: none;
    border-radius: 50% !important;
    overflow: hidden;
    position: relative;
    color: #fff;
    background-color: #6d2e46;
    font-size: 20px;
    font-weight: 600;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link{
    color: #222;
    background: transparent;
    box-shadow: 0 0 10px #a26769;
}
.pagination li a.page-link:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    border: 5px solid #a26769;
    border-top-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    opacity: 0;
    transform: rotate(155deg);
    transition: all 0.3s ease 0s;
}
.pagination li a.page-link:hover:before,
.pagination li a.page-link:focus:before,
.pagination li.active a.page-link:before{
    opacity: 1;
    transform: rotate(-15deg);
}
@media only screen and (max-width: 480px){
.pagination{
  font-size: 0;
  border: none;
  display: inline-block;
}
.pagination li{
    display: inline-block;
    vertical-align: top;
    margin: 0 0 10px;
}
}