<div class="pc">
  <div class="fixed-bottom container-fullit py-3" style="background-color: #ffabb2;">
    <div class="row aline-items-center d-flex justify-content-center">
      <p class="text-light mb-0">
   
      </p>
    </div>
  </div>
</div>
   <!--ログインしている時客  -->
<!--    % if user_signed_in? %>-->
<!--      <li class="nav-item">-->
<!--        %= link_to user_path(current_user), class:"nav-link text-light" do %>-->
<!--          <i class="fa-solid fa-house"></i> マイページ-->
<!--        % end %>-->
<!--      </li>-->

<!--      <li class="nav-item">-->
<!--        %=link_to root_path , class:"nav-link text-light" do %>-->
<!--          <i class="fa-solid fa-cake-candles"></i> 商品一覧-->
<!--        % end %>-->
<!--      </li>-->

<!--      <li class="nav-item">-->
<!--        %= link_to root_path , class:"nav-link text-light" do %>-->
<!--          <i class="fa-solid fa-cart-shopping"></i> カート-->
<!--        % end %>-->
<!--      </li>-->

<!--      <li class="nav-item">-->
<!--        %= link_to destroy_user_session_path, method: :delete, class:"nav-link text-light" do %>-->
<!--          <i class="fa-solid fa-right-from-bracket"></i> ログアウト-->
<!--        % end %>-->
<!--      </li>-->

<!--      <li class="nav-item">-->
<!--        %= render "public/searches/search" %>-->
<!--      </li>-->
  <!--アドミンがログインしてる時 -->
<!--    % elsif admin_signed_in? %>-->
<!--    <li class="nav-item">-->
<!--        %= link_to admin_path, class:"nav-link text-light" do %>-->
<!--          <i class="fa-solid fa-cake-candles"></i> 商品一覧-->
<!--        % end %>-->
<!--      </li>-->

<!--      <li class="nav-item">-->
<!--        %= link_to admin_path , class:"nav-link text-light" do %>-->
<!--          <i class="fa-solid fa-users"></i> 会員一覧-->
<!--        % end %>-->
<!--      </li>-->

<!--      <li class="nav-item">-->
<!--        %= link_to admin_path , class:"nav-link text-light" do %>-->
<!--          <i class="fa-solid fa-truck"></i> 注文履歴一覧-->
<!--        % end %>-->
<!--      </li>-->

<!--      <li class="nav-item">-->
<!--        %= link_to admin_path, class:"nav-link text-light" do %>-->
<!--          <i class="fa-solid fa-clipboard"></i> ジャンル一覧-->
<!--        % end %>-->
<!--      </li>-->

<!--      <li class="nav-item">-->
<!--        %= link_to destroy_admin_session_path, method: :delete, class:"nav-link text-light" do %>-->
<!--          <i class="fa-solid fa-right-from-bracket"></i> ログアウト-->
<!--        % end %>-->
<!--      </li>-->

<!--      <li class="nav-item">-->
<!--        %= render "admin/searches/search" %>-->
<!--      </li>-->
  <!--ログインしていない時  -->
<!--    % else %>-->
<!--      <li class="nav-item">-->
<!--        %= link_to root_path , class:"nav-link text-light" do %>-->
<!--        <i class="fa-solid fa-tag"></i> About-->
<!--        % end %>-->
<!--      </li>-->

<!--      <li class="nav-item">-->
<!--        %=link_to root_path , class:"nav-link text-light" do %>-->
<!--        <i class="fa-solid fa-cake-candles"></i> 商品一覧-->
<!--        % end %>-->
<!--      </li>-->

<!--      <li class="nav-item">-->
<!--        %= link_to new_user_registration_path , class:"nav-link text-light" do %>-->
<!--          <i class="fa-solid fa-user-plus"></i> 新規登録-->
<!--        % end %>-->
<!--      </li>-->

<!--      <li class="nav-item">-->
<!--        %= link_to new_customer_session_path , class:"nav-link text-light" do %>-->
<!--          <i class="fa-solid fa-right-to-bracket"></i> ログイン-->
<!--        % end %>-->
<!--      </li>-->

<!--      <li class="nav-item">-->
<!--        %= render "public/searches/search" %>-->
<!--      </li>-->
<!--    % end %>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->